
.layout-main {
    background-color: var(--ss-layout);
    .layout-content {
        padding: 2rem 2rem 0;
        flex: 1 1 auto;
        // border-bottom-left-radius: 30px;
        // border-top-left-radius: 30px;
    }
    .layout-main-mask {
        display: none;
    }
}