@media (max-width: 500px) {
    .layout-main{
        .layout-content{
            padding:1rem !important;
        }
    }
    .banner{
        padding-top:10px !important;
    }
    body {
        &.hidden-overflow {
            overflow: hidden;
        }
    }
}